<a href="https://colab.research.google.com/github/ReidelVichot/DSTEP23/blob/main/week_4/dstep23_delaware_natural_areas_rvichot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **DSTEP23 // Open Data Delaware: Delaware Natural Areas**

*September 19, 2023*

This notebook will visualize the location of the Delaware Natural Areas from Open Data Delaware, making significant use of string manipulations to extract geographic information.  The data can be found [here](https://data.delaware.gov/dataset/Natural-Areas/aryx-uafh).

---

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

First we load the data (getting the csv link from the "export" tab on the data page).

In [ ]:
# -- set the file name
fname =

# -- load the data
natarea =

We should always look at the data first,

In [ ]:
print(natarea)

Let's change the maximum nuber of displayed columns to see the full DataFrame

In [ ]:
# -- set maximum number of columns to be printed to be 500

In [ ]:
print(natarea)

And let's look at the data types

In order to visualize the location of these areas, we'll have to deal with the `"the_geom"` column.  But notice this complication:

In [ ]:
# -- print the value and type of the 0th entry of "the_geom"

## **A Brief Aside on <i>"string manipulations"</i>**

In [ ]:
# -- create a string
mystr =

In [ ]:
# -- print elements of string

In [ ]:
# -- "split" the string
spl =

print(spl)

notice the space is still there in front of the word "how"

In [ ]:
# -- include the space in the split
spl =

print(spl)

Remove the question mark

In [ ]:
# -- split the string and then replace the question mark
spl =
hay =

print(hay)

another useful function modifies capitalization

In [ ]:
# -- print modified capitalization

**What if I wanted to remove spaces?**

In [ ]:
# -- remove spaces

**What if I wanted to split `spl[1]` into its three words?**

In [ ]:
# -- split into words

Finally, a particularly useful method is the "join" method

In [ ]:
# -- join strings with a common separator
sep =
words =
csv =

print("here is the list: {0}".format(words))
print("here is the list of words joined with a comma: {0}".format(csv))

---

## **Working with strings in DataFrames**

As we saw above, the `"the_geom"` column in the DataFrame is a string.  It is a string containing the the latitude and longitude values of the Natural Area.  It would be nice to put the locations of these on a map.  To do that, we need a separate column for latitude and longitude.  I.e., we'd like to first pull out the first latitude and longitude for each string and put it in its own column.

We can do that with string manipulations that act on a whole column:

In [ ]:
# -- remove the "(" characters
cmod =

In [ ]:
# -- remove the word "MULTIPOLYGON "
cmod2 =

In [ ]:
# -- split the string to access the first lon/lat pair
cmod3 =

In [ ]:
# -- split that pair into lon and lat
cmod4 =

Let's add these locations back to the natural areas DataFrame:

In [ ]:
# -- add lon/lat columns to original DataFrame
natarea["lon"] =
natarea["lat"] =

And so now we can make the scatter plot

In [ ]:
# -- make a scatter plot
fig, ax = plt.subplots(figsize=(7, 7))


ax.axis("equal") # set the aspect ratio of the axes to be equal
fig.show()

---

### **Quick Demo of `Folium`**

In [ ]:
import folium

In [ ]:
# -- create a map
mymap = folium.Map(location=[39.2, -75.5], zoom_start=8, width=500)

# -- add each Natural area to the map, one by one
ndata = len(natarea)
for ii in range(ndata):

  lat  = natarea["lat"].iloc[ii]
  lon  = natarea["lon"].iloc[ii]
  rad  = natarea["ACRES"].iloc[ii] / 5.
  name = natarea["Name"].iloc[ii]

  circ = folium.Circle(location=[lat, lon], radius=rad, popup=name, fill=True, color="red")
  circ.add_to(mymap)

mymap